# Constraints for OneDep installation moving forward for python 3 to ensure core packages installed properly
# If we update third party package in python package this will need to be updated

# mysqlclient is pinned before the 2.0 series are we are using Django 1.11.X
mysqlclient ~= 1.4.4

# EMDA cannot do bdist_wheel and cannot be installed
numpy < 1.22


