# Requires the PREFIX is set as well as PATH to include proper tools directory

# Best if PKG_CONFIG_PATH is set before running - but we handle
# PKG_CONFIG_PATH=$PREFIX/lib/pkgconfig:$PREFIX/packages/openbabel/lib/pkgconfig 
# openbabel 3.1.1 is available - but python cannot be installed due to assimption of std compiler (nullptr definition). We would need to add flags, etc. 
openbabel==2.4.1 --global-option=build_ext --global-option="-L${TOOLS_DIR}/packages/openbabel-2.3.2/lib"   --global-option="-I${TOOLS_DIR}/packages/openbabel-2.3.2/include/openbabel-2.0" --global-option="--rpath=${TOOLS_DIR}/packages/openbabel-2.3.2/lib"


# For watermarks for validation reports
fakepdftk

# We host biotempy - so easier to install here
# biotempy; python_version >= '3'

# Newer OpenEye - we will pull in directly - instead of content server -- RetHat 7 will not work with 2021 OpenEye due to libstdcc++ ABI
--extra-index-url https://pypi.anaconda.org/OpenEye/simple
OpenEye-toolkits<=2020.2.4 ; python_version >= '3'

