# Requires the PREFIX is set as well as PATH to include proper tools directory

# Best if PKG_CONFIG_PATH is set before running - but we handle
# PKG_CONFIG_PATH=$PREFIX/lib/pkgconfig:$PREFIX/packages/openbabel/lib/pkgconfig 
openbabel --global-option=build_ext --global-option="-L${TOOLS_DIR}/packages/openbabel-2.3.2/lib"   --global-option='-I${TOOLS_DIR}/packages/openbabel-2.3.2/include/openbabel-2.0' --global-option='--rpath=${TOOLS_DIR}/packages/openbabel-2.3.2/lib'
  

# Install OpenEye toolkit
OpenEye-toolkits-python2.7-ucs2-linux-x64 == 2016.6.1; python_version == '2.7' and sys_platform=='linux2'
OpenEye-toolkits-python3-linux-x64 == 2018.10.1 ; python_version >= '3' and sys_platform=='linux'
OpenEye-toolkits-python3-osx-x64 ; python_version >= '3' and sys_platform=='darwin'

# For watermarks for validation reports
fakepdftk

# Newer version of numpy (1.16) having issues with random wsgi import failures switching added annotation/validation/status
# This problem is mod_wsgi - and needs a configuration change - will be done for python 3
numpy == 1.15.4

# A number of analysis programs are using pandas - will be pulled in separately as doing at base - numpy is not installed initially. Tries to pull in newer version of numpy to build
# wheel before installing. Newer numpy requires python 3.
# pandas

# We put this in here - as we need a newer mmcif_utils than on pypi for the moment. Pull in
mmcif.utils
